@import "bootstrap";

$character-block-size: 300px;

.character__container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-width: (2*$character-block-size);
}

.character__block {
  width: $character-block-size;
  margin: 5px 10px;
}

.skill--proficient,
.text-highlight {
  font-weight: bold;
}

.table--center {
  th, td {
    text-align: center;
  }
}

.text--right {
  text-align: right;
}

.table--no-border-top {
  tr:first-of-type > td {
    border-top: none;
  }
}

.inline-image {
  display: inline-block;
  width: auto;
  height: 1rem;
  vertical-align: text-bottom;
}

.checkmark__circle {
  fill: transparent;
  stroke: $text-muted;
  stroke-width: 6;
}

.fill-in {
  text-decoration: underline;
}

@media screen and (max-width: (2*$character-block-size + 21px)) {
  .character__container {
    max-height: none !important;
  }
}
