# by default: ignore everything
*
!.gitignore

# except these four races that are part of the Basic Ruleset
!dwarf.js
!elf.js
!halfling.js
!human.js

# subrace with the alternative out-of-file definition
!elf-high.js
